---
# VARIABLES
- shell: ps -e|head -n2|grep systemd>/dev/null; echo $?
  register: SYSTEMD_RUNNING
- shell: systemctl ${SYSTEMD_OPTS_AND_SCOPE.stdout} is-enabled ${SYSTEMD_SERVICE.stdout}; echo $?
  register: SYSTEMD_WAS_ENABLED
## DISABLE IF ENABLED
#- shell: systemctl ${SYSTEMD_OPTS_AND_SCOPE.stdout} disable ${SYSTEMD_SERVICE.stdout}
#  only_if: "'${SYSTEMD_WAS_ENABLED.stdout}' == \"0\""
# ENABLE
- shell: systemctl ${SYSTEMD_OPTS_AND_SCOPE.stdout} enable -f ${SYSTEMD_SERVICE.stdout}; echo $?
  only_if: "'${SYSTEMD_RUNNING.stdout}' != \"0\""
  register: SYSTEMD_ENABLE_OK
# RELOAD OR RESTART IF RUNNING
- shell: systemctl ${SYSTEMD_OPTS_AND_SCOPE.stdout} reload-or-restart ${SYSTEMD_SERVICE.stdout}
  only_if: is_unset("$SYSTEMD_RESTART") and "${SYSTEMD_RUNNING.stdout}" == "0"
- shell: sytemctl ${SYSTEMD_OPTS_AND_SCOPE.stdout} restart ${SYSTEMD_SERVICE.stdout}
  only_if: is_set("$SYSTEMD_RESTART") and "${SYSTEMD_RUNNING.stdout}" == "0"
