[Unit]
Description={{NAME}}
Requires=network.target
After=network.target

[Service]
Type=simple
EnvironmentFile=
Environment=
WorkingDirectory={{DIR}}
ExecStart=/usr/sbin/named -u {{ user }} -c {{ETC}}/named.conf -p {{ port if port is defined else 53 }} -f
PIDFile=/var/run/{{NAME}}.pid
User=root

[Install]
WantedBy=multi-user.target
