[Unit]
Description=Cloud9
Requires=network.target
After=network.target

[Service]
Type=simple
EnvironmentFile=
Environment=IP={{ srv.host }} PORT={{ srv.port }}
WorkingDirectory={{ DIR }}/webapp
ExecStart=/usr/bin/env node server.js -w {{ DIR }}/workspace
PIDFile=/var/run/{{ NAME }}.pid
User={{ srv.user }}

[Install]
WantedBy=multi-user.target
