[Unit]
Description={{NAME}}

[Service]
User=etcd
PermissionsStartOnly=true
EnvironmentFile={{DIR}}/env
ExecStart={{ETCD_BIN}}
Restart=always
RestartSec=10s
