[Unit]
Description={{NAME}}

[Service]
User=etcd
PermissionsStartOnly=true
EnvironmentFile={{ETC}}/envfile
ExecStart={{ETCD_BIN}}
Restart=always
RestartSec=10s
