{%- set comma = joiner(',') -%}
{%- for h in range(play_hosts|length) -%}
{{- comma() -}}
{{- hostvars[play_hosts[h]].NAME -}}=http://{{-play_hosts[h]}}:{{hostvars[play_hosts[h]]['peer_port']|default(peer_port|default(7001)) -}}{%- endfor -%}
