{% macro phrase(name, expression) -%}
{% for el in expression|default(None)|arrayitize -%}
{{ name }}={{ el }}
{% endfor -%}
{% endmacro -%}

[Unit]
Description={{ NAME }}
{% if not USERMODE|default(False) %}
Requires=network.target
After=network.target
{% endif %}
{{ phrase('After', SYSTEMD_AFTER) -}}
{{ phrase('Before', SYSTEMD_BEFORE) -}}
{{ phrase('Requires', SYSTEMD_REQUIRES) -}}
{{ phrase('Requisite', SYSTEMD_REQUISITE) -}}
{{ phrase('Wants', SYSTEMD_WANTS) -}}
{{ phrase('BindsTo', SYSTEMD_BINDS_TO) -}}
{{ phrase('PartOf', SYSTEMD_PART_OF) -}}
{{ phrase('Conflicts', SYSTEMD_CONFLICTS) }}

[Service]
Type={{ SYSTEMD_TYPE|default("simple") }}
NonBlocking={{ SYSTEMD_NONBLOCKING|default("yes") }}
ExecStart={{ SYSTEMD_EXEC }}
{% if SYSTEMD_CWD|default(True) %}
WorkingDirectory={{ SYSTEMD_CWD|default(DIR)|replace('~', '%h', 1) }}
{% endif %}
{{ phrase('ExecStop', SYSTEMD_EXEC_STOP) }}
{{ phrase('ExecReload', SYSTEMD_EXEC_RELOAD) }}
{{ phrase('PIDFile', SYSTEMD_PID_FILE) }}
{% if SYSTEMD_USER|default(False) and not USERMODE|default(False) %}User={{ SYSTEMD_USER|default(USER) }}
{% endif %}
{{ phrase('Environment', SYSTEMD_ENV) -}}
{{ phrase('EnvironmentFile', SYSTEMD_ENVFILE) -}}
{{ phrase('Restart', SYSTEMD_RESTART) -}}
{{ phrase('RestartSec', SYSTEMD_RESTART_SEC) }}
{{ phrase('Nice', SYSTEMD_NICE) }}
{{ "PermissionsStartOnly=true" if SYSTEMD_START_ONLY|default(False) else "" }}

[Install]
WantedBy={{ "multi-user" if not USERMODE|default(False) else "default" }}.target
{{ phrase('WantedBy', SYSTEMD_WANTED_BY) }}
{{ phrase('RequiredBy', SYSTEMD_REQUIRED_BY) }}
{{ phrase('Also', SYSTEMD_ALSO) }}
{{ phrase('DefaultInstance', SYSTEMD_DEFAULT_INSTANCE) }}
